<!-- Main Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-light">
  <a href ="/">
     
    <img class="navbar-brand" href="/" src="../../../assets/images/logo.png" width="50px" height="50px">
   
    </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">

      <li class="nav-item">
        <a class="nav-link" href="/home" style="color: rgb(105, 104, 104);"> Home</a>
      </li>

        <li class="nav-item">
          <a class="nav-link" href="/about" style="color:rgb(105, 104, 104);"> About </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/products" style="color: rgb(105, 104, 104);">Things To Do  </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/services"  style="color: rgb(105, 104, 104);">Services </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/event-list"  style="color: rgb(105, 104, 104);"> Event </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/contact" style="color: rgb(105, 104, 104);"> Contact </a>
        </li>

        <li class="navbar-text">
          <app-cart-summary></app-cart-summary>
        </li>
    </ul>

  </div>
</nav>

