<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cherry+Swash&display=swap" rel="stylesheet">
<section id="introductions" class="section">
    <section id="home">
        <div class="home__container">
            <app-base-page class="about_page" ></app-base-page>    
        </div>
    </section>

     <!-- Page Content-->
     <div class="container px-4 px-lg-5">
        <!-- Heading Row-->
        <div class="row gx-4 gx-lg-5 align-items-center my-5">
            <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="https://dummyimage.com/900x400/dee2e6/6c757d.jpg" alt="..." /></div>
            <div class="col-lg-5">
                <h1 class="font-weight-light">Business Name or Tagline</h1>
                <p>This is a template that is great for small businesses. It doesn't have too much fancy flare to it, but it makes a great use of the standard Bootstrap core components. Feel free to use this template for any project you want!</p>
                <a class="btn btn-primary" href="#!">Call to Action!</a>
            </div>
        </div>
      
        <!-- Content Row-->
        <div id="space" class="row gx-4 gx-lg-5">
            <div class="col-md-5 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                       <img class="spring" src="../../../assets/images/spring.jpg">
                    </div>
                  <div class="text box"> <p>Spring</p>
                    </div>
                    <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
                </div>
            </div>
            <div class="col-md-5 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                       <img class="summer" src="../../../assets/images/summer.jpg">
                    </div>
                  <div class="text box"> <p>Spring</p>
                    </div>
                    <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
                </div>
            </div>
            
            <div class="col-md-5 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                       <img class="fall" src="../../../assets/images/fall.jpg">
                    </div>
                  <div class="text box"> <p>Spring</p>
                    </div>
                    <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
                </div>
            </div>
            <div class="col-md-5 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                       <img class="winter" src="../../../assets/images/winter.jpg">
                    </div>
                  <div class="text box"> <p>Spring</p>
                    </div>
                    <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
                </div>
            </div>
        </div>
    </div>


